
body {font-family: Arial, Helvetica Neue, Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: '960px';
    font-size: "18px";
    text-align: center;}
.article{color: #ebebeb;
        background: #777;}
.header {background: #ebebeb; 
        height: 30px;
        vertical-align: center ;
        padding: 25px;
        box-sizing: border-box;
        text-align: center;
    }
h3{
    margin-top: -10px;
}
.nav {background: #ebebeb; 
    height: 30px;
    vertical-align: center;
    padding: 25px;
    box-sizing: border-box;
    margin-top: 10px;
}
p {margin-top: -10px;}

.section {float: left;
        background: #ebebeb;
        padding-bottom: 20px;
        padding-top: 50px;
        width: 495px;
        clear: both;
        margin-left: 50px;
        box-sizing: border-box;}


.aside {width: 495px;
        height: 300px;
        background: #ebebeb;
        box-sizing: border-box;
        float: right;
        margin-left: 50px;
        margin-right: 40px;
        }

.footer {background: #ebebeb;
        box-sizing: border-box;}
